interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://lorcania.com/login
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\" data-theme=\"fantasy\">\n    <head>\n
        \       <meta charset=\"utf-8\">\n        <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\">\n\n        \n        \n        \n                <meta
        property=\"og:url\" content=\"https://lorcania.com/login\"/>\n\n        <!--
        Fonts -->\n        \n        <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap\">\n\n
        \       <link rel=\"icon\" type=\"image/x-icon\" href=\"/favicon.ico\">\n\n
        \       <!-- Scripts -->\n        <script type=\"text/javascript\">\n    const
        Ziggy = {\"url\":\"https:\\/\\/lorcania.com\",\"port\":null,\"defaults\":{},\"routes\":{\"debugbar.openhandler\":{\"uri\":\"_debugbar\\/open\",\"methods\":[\"GET\",\"HEAD\"]},\"debugbar.clockwork\":{\"uri\":\"_debugbar\\/clockwork\\/{id}\",\"methods\":[\"GET\",\"HEAD\"]},\"debugbar.telescope\":{\"uri\":\"_debugbar\\/telescope\\/{id}\",\"methods\":[\"GET\",\"HEAD\"]},\"debugbar.assets.css\":{\"uri\":\"_debugbar\\/assets\\/stylesheets\",\"methods\":[\"GET\",\"HEAD\"]},\"debugbar.assets.js\":{\"uri\":\"_debugbar\\/assets\\/javascript\",\"methods\":[\"GET\",\"HEAD\"]},\"debugbar.cache.delete\":{\"uri\":\"_debugbar\\/cache\\/{key}\\/{tags?}\",\"methods\":[\"DELETE\"]},\"login\":{\"uri\":\"login\",\"methods\":[\"GET\",\"HEAD\"]},\"logout\":{\"uri\":\"logout\",\"methods\":[\"POST\"]},\"password.request\":{\"uri\":\"forgot-password\",\"methods\":[\"GET\",\"HEAD\"]},\"password.reset\":{\"uri\":\"reset-password\\/{token}\",\"methods\":[\"GET\",\"HEAD\"]},\"password.email\":{\"uri\":\"forgot-password\",\"methods\":[\"POST\"]},\"password.update\":{\"uri\":\"reset-password\",\"methods\":[\"POST\"]},\"register\":{\"uri\":\"register\",\"methods\":[\"GET\",\"HEAD\"]},\"user-profile-information.update\":{\"uri\":\"user\\/profile-information\",\"methods\":[\"PUT\"]},\"user-password.update\":{\"uri\":\"user\\/password\",\"methods\":[\"PUT\"]},\"password.confirmation\":{\"uri\":\"user\\/confirmed-password-status\",\"methods\":[\"GET\",\"HEAD\"]},\"password.confirm\":{\"uri\":\"user\\/confirm-password\",\"methods\":[\"POST\"]},\"two-factor.login\":{\"uri\":\"two-factor-challenge\",\"methods\":[\"GET\",\"HEAD\"]},\"two-factor.enable\":{\"uri\":\"user\\/two-factor-authentication\",\"methods\":[\"POST\"]},\"two-factor.confirm\":{\"uri\":\"user\\/confirmed-two-factor-authentication\",\"methods\":[\"POST\"]},\"two-factor.disable\":{\"uri\":\"user\\/two-factor-authentication\",\"methods\":[\"DELETE\"]},\"two-factor.qr-code\":{\"uri\":\"user\\/two-factor-qr-code\",\"methods\":[\"GET\",\"HEAD\"]},\"two-factor.secret-key\":{\"uri\":\"user\\/two-factor-secret-key\",\"methods\":[\"GET\",\"HEAD\"]},\"two-factor.recovery-codes\":{\"uri\":\"user\\/two-factor-recovery-codes\",\"methods\":[\"GET\",\"HEAD\"]},\"horizon.stats.index\":{\"uri\":\"horizon\\/api\\/stats\",\"methods\":[\"GET\",\"HEAD\"]},\"horizon.workload.index\":{\"uri\":\"horizon\\/api\\/workload\",\"methods\":[\"GET\",\"HEAD\"]},\"horizon.masters.index\":{\"uri\":\"horizon\\/api\\/masters\",\"methods\":[\"GET\",\"HEAD\"]},\"horizon.monitoring.index\":{\"uri\":\"horizon\\/api\\/monitoring\",\"methods\":[\"GET\",\"HEAD\"]},\"horizon.monitoring.store\":{\"uri\":\"horizon\\/api\\/monitoring\",\"methods\":[\"POST\"]},\"horizon.monitoring-tag.paginate\":{\"uri\":\"horizon\\/api\\/monitoring\\/{tag}\",\"methods\":[\"GET\",\"HEAD\"]},\"horizon.monitoring-tag.destroy\":{\"uri\":\"horizon\\/api\\/monitoring\\/{tag}\",\"methods\":[\"DELETE\"],\"wheres\":{\"tag\":\".*\"}},\"horizon.jobs-metrics.index\":{\"uri\":\"horizon\\/api\\/metrics\\/jobs\",\"methods\":[\"GET\",\"HEAD\"]},\"horizon.jobs-metrics.show\":{\"uri\":\"horizon\\/api\\/metrics\\/jobs\\/{id}\",\"methods\":[\"GET\",\"HEAD\"]},\"horizon.queues-metrics.index\":{\"uri\":\"horizon\\/api\\/metrics\\/queues\",\"methods\":[\"GET\",\"HEAD\"]},\"horizon.queues-metrics.show\":{\"uri\":\"horizon\\/api\\/metrics\\/queues\\/{id}\",\"methods\":[\"GET\",\"HEAD\"]},\"horizon.jobs-batches.index\":{\"uri\":\"horizon\\/api\\/batches\",\"methods\":[\"GET\",\"HEAD\"]},\"horizon.jobs-batches.show\":{\"uri\":\"horizon\\/api\\/batches\\/{id}\",\"methods\":[\"GET\",\"HEAD\"]},\"horizon.jobs-batches.retry\":{\"uri\":\"horizon\\/api\\/batches\\/retry\\/{id}\",\"methods\":[\"POST\"]},\"horizon.pending-jobs.index\":{\"uri\":\"horizon\\/api\\/jobs\\/pending\",\"methods\":[\"GET\",\"HEAD\"]},\"horizon.completed-jobs.index\":{\"uri\":\"horizon\\/api\\/jobs\\/completed\",\"methods\":[\"GET\",\"HEAD\"]},\"horizon.silenced-jobs.index\":{\"uri\":\"horizon\\/api\\/jobs\\/silenced\",\"methods\":[\"GET\",\"HEAD\"]},\"horizon.failed-jobs.index\":{\"uri\":\"horizon\\/api\\/jobs\\/failed\",\"methods\":[\"GET\",\"HEAD\"]},\"horizon.failed-jobs.show\":{\"uri\":\"horizon\\/api\\/jobs\\/failed\\/{id}\",\"methods\":[\"GET\",\"HEAD\"]},\"horizon.retry-jobs.show\":{\"uri\":\"horizon\\/api\\/jobs\\/retry\\/{id}\",\"methods\":[\"POST\"]},\"horizon.jobs.show\":{\"uri\":\"horizon\\/api\\/jobs\\/{id}\",\"methods\":[\"GET\",\"HEAD\"]},\"horizon.index\":{\"uri\":\"horizon\\/{view?}\",\"methods\":[\"GET\",\"HEAD\"],\"wheres\":{\"view\":\"(.*)\"}},\"sanctum.csrf-cookie\":{\"uri\":\"sanctum\\/csrf-cookie\",\"methods\":[\"GET\",\"HEAD\"]},\"telescope\":{\"uri\":\"telescope\\/{view?}\",\"methods\":[\"GET\",\"HEAD\"],\"wheres\":{\"view\":\"(.*)\"}},\"livewire.message\":{\"uri\":\"livewire\\/message\\/{name}\",\"methods\":[\"POST\"]},\"livewire.message-localized\":{\"uri\":\"{locale}\\/livewire\\/message\\/{name}\",\"methods\":[\"POST\"]},\"livewire.upload-file\":{\"uri\":\"livewire\\/upload-file\",\"methods\":[\"POST\"]},\"livewire.preview-file\":{\"uri\":\"livewire\\/preview-file\\/{filename}\",\"methods\":[\"GET\",\"HEAD\"]},\"blv.index\":{\"uri\":\"log-viewer\",\"methods\":[\"GET\",\"HEAD\"]},\"blv.download-file\":{\"uri\":\"log-viewer\\/file\\/{fileIdentifier}\\/download\",\"methods\":[\"GET\",\"HEAD\"]},\"blv.download-folder\":{\"uri\":\"log-viewer\\/folder\\/{folderIdentifier}\\/download\",\"methods\":[\"GET\",\"HEAD\"]},\"blv.is-scan-required\":{\"uri\":\"log-viewer\\/is-scan-required\",\"methods\":[\"GET\",\"HEAD\"]},\"blv.scan-files\":{\"uri\":\"log-viewer\\/scan-files\",\"methods\":[\"GET\",\"HEAD\"]},\"blv.search-more\":{\"uri\":\"log-viewer\\/search-progress\",\"methods\":[\"GET\",\"HEAD\"]},\"ignition.healthCheck\":{\"uri\":\"_ignition\\/health-check\",\"methods\":[\"GET\",\"HEAD\"]},\"ignition.executeSolution\":{\"uri\":\"_ignition\\/execute-solution\",\"methods\":[\"POST\"]},\"ignition.updateConfig\":{\"uri\":\"_ignition\\/update-config\",\"methods\":[\"POST\"]},\"cardSearch\":{\"uri\":\"api\\/cardsSearch\",\"methods\":[\"POST\"]},\"popularDecks\":{\"uri\":\"api\\/popularDecks\",\"methods\":[\"GET\",\"HEAD\"]},\"load-ttsdeck\":{\"uri\":\"api\\/tts\\/{deck}\",\"methods\":[\"GET\",\"HEAD\"],\"bindings\":{\"deck\":\"deck_id\"}},\"load-deck\":{\"uri\":\"api\\/decks\\/{deck}\",\"methods\":[\"GET\",\"HEAD\"],\"bindings\":{\"deck\":\"deck_id\"}},\"deckbuilderSearch\":{\"uri\":\"api\\/deckbuilderSearch\",\"methods\":[\"POST\"]},\"getArtists\":{\"uri\":\"api\\/artists\",\"methods\":[\"POST\"]},\"botSearch\":{\"uri\":\"api\\/botSearch\",\"methods\":[\"GET\",\"HEAD\"]},\"magicsorter\":{\"uri\":\"api\\/magicsorter\",\"methods\":[\"GET\",\"HEAD\"]},\"news-list\":{\"uri\":\"api\\/news\",\"methods\":[\"GET\",\"HEAD\"]},\"api-cards\":{\"uri\":\"api\\/cards\",\"methods\":[\"GET\",\"HEAD\"]},\"api-sets\":{\"uri\":\"api\\/sets\",\"methods\":[\"GET\",\"HEAD\"]},\"api-set\":{\"uri\":\"api\\/sets\\/{set}\",\"methods\":[\"GET\",\"HEAD\"],\"bindings\":{\"set\":\"slug\"}},\"api-set-cards\":{\"uri\":\"api\\/sets\\/{set}\\/cards\",\"methods\":[\"GET\",\"HEAD\"],\"bindings\":{\"set\":\"slug\"}},\"api-products\":{\"uri\":\"api\\/products\",\"methods\":[\"GET\",\"HEAD\"]},\"api-save-open-booster\":{\"uri\":\"api\\/boosters\\/open\",\"methods\":[\"POST\"]},\"spaces-store\":{\"uri\":\"api\\/spaces\",\"methods\":[\"POST\"]},\"spaces-cover-store\":{\"uri\":\"api\\/spaces-cover\",\"methods\":[\"POST\"]},\"spaces-delete\":{\"uri\":\"api\\/spaces\",\"methods\":[\"DELETE\"]},\"uploadCardImage\":{\"uri\":\"api\\/uploadCardImage\",\"methods\":[\"POST\"]},\"main\":{\"uri\":\"\\/\",\"methods\":[\"GET\",\"HEAD\"]},\"keywords\":{\"uri\":\"keywords\",\"methods\":[\"GET\",\"HEAD\"]},\"faq\":{\"uri\":\"faq\",\"methods\":[\"GET\",\"HEAD\"]},\"resources\":{\"uri\":\"resources\",\"methods\":[\"GET\",\"HEAD\"]},\"news\":{\"uri\":\"news\",\"methods\":[\"GET\",\"HEAD\"]},\"about\":{\"uri\":\"about\",\"methods\":[\"GET\",\"HEAD\"]},\"privacy\":{\"uri\":\"privacy\",\"methods\":[\"GET\",\"HEAD\"]},\"tfc\":{\"uri\":\"thefirstchapter\",\"methods\":[\"GET\",\"HEAD\"]},\"card\":{\"uri\":\"cards\\/{id}\",\"methods\":[\"GET\",\"HEAD\"]},\"getPricesForGrade\":{\"uri\":\"card\\/{id}\\/gradePrices\",\"methods\":[\"POST\"]},\"cards\":{\"uri\":\"cards\",\"methods\":[\"GET\",\"HEAD\"]},\"sets\":{\"uri\":\"sets\",\"methods\":[\"GET\",\"HEAD\"]},\"set\":{\"uri\":\"sets\\/{set}\",\"methods\":[\"GET\",\"HEAD\"],\"bindings\":{\"set\":\"slug\"}},\"setCard\":{\"uri\":\"sets\\/{setid}\\/{id}\\/{card}\",\"methods\":[\"GET\",\"HEAD\"]},\"products\":{\"uri\":\"products\",\"methods\":[\"GET\",\"HEAD\"]},\"product\":{\"uri\":\"products\\/{product}\",\"methods\":[\"GET\",\"HEAD\"],\"bindings\":{\"product\":\"slug\"}},\"deckbuilder\":{\"uri\":\"deckbuilder\",\"methods\":[\"GET\",\"HEAD\"]},\"popular\":{\"uri\":\"popular\",\"methods\":[\"GET\",\"HEAD\"]},\"deck\":{\"uri\":\"decks\\/{deck}\",\"methods\":[\"GET\",\"HEAD\"],\"bindings\":{\"deck\":\"deck_id\"}},\"articles\":{\"uri\":\"articles\",\"methods\":[\"GET\",\"HEAD\"]},\"newArticle\":{\"uri\":\"articles\\/new\",\"methods\":[\"GET\",\"HEAD\"]},\"articlesList\":{\"uri\":\"articles\\/list\",\"methods\":[\"GET\",\"HEAD\"]},\"article\":{\"uri\":\"articles\\/{slug}\",\"methods\":[\"GET\",\"HEAD\"]},\"artists\":{\"uri\":\"artists\",\"methods\":[\"GET\",\"HEAD\"]},\"artist\":{\"uri\":\"artists\\/{slug}\",\"methods\":[\"GET\",\"HEAD\"]},\"franchises\":{\"uri\":\"franchises\",\"methods\":[\"GET\",\"HEAD\"]},\"franchise\":{\"uri\":\"franchises\\/{slug}\",\"methods\":[\"GET\",\"HEAD\"]},\"filterSearch\":{\"uri\":\"profiles\\/filter\",\"methods\":[\"POST\"]},\"profileByName\":{\"uri\":\"profile\\/{name}\",\"methods\":[\"GET\",\"HEAD\"]},\"viewItem\":{\"uri\":\"feed\\/{id}\\/views\",\"methods\":[\"POST\"]},\"viewPoll\":{\"uri\":\"polls\\/{id}\",\"methods\":[\"GET\",\"HEAD\"]},\"adminSets\":{\"uri\":\"admin\\/sets\",\"methods\":[\"GET\",\"HEAD\"]},\"adminSetCards\":{\"uri\":\"admin\\/sets\\/{set}\",\"methods\":[\"GET\",\"HEAD\"],\"bindings\":{\"set\":\"slug\"}},\"addAdminSetCards\":{\"uri\":\"admin\\/sets\\/{set}\",\"methods\":[\"POST\"],\"bindings\":{\"set\":\"slug\"}},\"adminSetCard\":{\"uri\":\"admin\\/sets\\/{set}\\/{card}\",\"methods\":[\"GET\",\"HEAD\"],\"bindings\":{\"set\":\"slug\",\"card\":\"id\"}},\"updateAdminSetCard\":{\"uri\":\"admin\\/set\\/{set}\\/{card}\",\"methods\":[\"POST\"],\"bindings\":{\"set\":\"code\",\"card\":\"id\"}},\"decks\":{\"uri\":\"decks\",\"methods\":[\"GET\",\"HEAD\"]},\"saveDeck\":{\"uri\":\"decks\",\"methods\":[\"POST\"]},\"deleteDeck\":{\"uri\":\"decks\",\"methods\":[\"DELETE\"]},\"collection\":{\"uri\":\"collection\",\"methods\":[\"GET\",\"HEAD\"]},\"setOwnedCollectible\":{\"uri\":\"collectible\\/{id}\",\"methods\":[\"POST\"]},\"addStarterToCollection\":{\"uri\":\"collection\\/starter\",\"methods\":[\"POST\"]},\"getCollection\":{\"uri\":\"api\\/collection\",\"methods\":[\"GET\",\"HEAD\"]},\"boostersIndex\":{\"uri\":\"boosters\",\"methods\":[\"GET\",\"HEAD\"]},\"boostersOpen\":{\"uri\":\"boosters\\/open\",\"methods\":[\"GET\",\"HEAD\"]},\"saveOpenedBooster\":{\"uri\":\"boosters\\/open\",\"methods\":[\"POST\"]},\"profile\":{\"uri\":\"profile\",\"methods\":[\"GET\",\"HEAD\"]},\"togglePublicProfile\":{\"uri\":\"profile\\/toggle\",\"methods\":[\"POST\"]},\"updateProfile\":{\"uri\":\"profile\\/update\",\"methods\":[\"POST\"]},\"addFeedItem\":{\"uri\":\"feed\",\"methods\":[\"POST\"]},\"deleteFeedItem\":{\"uri\":\"feed\\/{id}\",\"methods\":[\"DELETE\"]},\"updateCardQuantity\":{\"uri\":\"card\\/{card}\",\"methods\":[\"POST\"],\"bindings\":{\"card\":\"id\"}},\"saveArticle\":{\"uri\":\"articles\\/{slug}\",\"methods\":[\"POST\"]},\"voteForOption\":{\"uri\":\"polls\\/{id}\",\"methods\":[\"POST\"]},\"boss-battle\":{\"uri\":\"boss-battle\",\"methods\":[\"GET\",\"HEAD\"]},\"boss-battle-history\":{\"uri\":\"boss-battle\\/history\",\"methods\":[\"GET\",\"HEAD\"]},\"boss-battle-save\":{\"uri\":\"boss-battle\",\"methods\":[\"POST\"]},\"settings.show\":{\"uri\":\"user\\/settings\",\"methods\":[\"GET\",\"HEAD\"]},\"other-browser-sessions.destroy\":{\"uri\":\"user\\/other-browser-sessions\",\"methods\":[\"DELETE\"]},\"current-user-photo.destroy\":{\"uri\":\"user\\/profile-photo\",\"methods\":[\"DELETE\"]},\"current-user.destroy\":{\"uri\":\"user\",\"methods\":[\"DELETE\"]}}};\n\n
        \   !function(t,r){\"object\"==typeof exports&&\"undefined\"!=typeof module?module.exports=r():\"function\"==typeof
        define&&define.amd?define(r):(t||self).route=r()}(this,function(){function
        t(t,r){for(var e=0;e<r.length;e++){var n=r[e];n.enumerable=n.enumerable||!1,n.configurable=!0,\"value\"in
        n&&(n.writable=!0),Object.defineProperty(t,\"symbol\"==typeof(o=function(t,r){if(\"object\"!=typeof
        t||null===t)[...]
- request:
    body: '{"remember": "", "email": "email@example.com", "password": "password"}'
    headers:
      Content-Type:
      - application/json
      X-XSRF-TOKEN:
      - DUMMY
    method: POST
    uri: https://lorcania.com/login
  response:
    body:
      string: '{"message":"These credentials do not match our records.","errors":{"email":["These
        credentials do not match our records."]}}'
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Limit:
      - '5'
      X-RateLimit-Remaining:
      - '4'
    status:
      code: 422
      message: Unprocessable Content
version: 1
