interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-XSRF-TOKEN:
      - DUMMY
    method: GET
    uri: https://lorcania.com/api/collection
  response:
    body:
      string: '{"collection":{"80":{"regular":{"user_id":6114,"card_id":80,"edition_id":3,"language":"EN","quantity":2}},"178":{"regular":{"user_id":6114,"card_id":178,"edition_id":3,"language":"EN","quantity":1},"foil":{"user_id":6114,"card_id":178,"edition_id":4,"language":"EN","quantity":2}},"39":{"op":{"user_id":6114,"card_id":39,"edition_id":7,"language":"EN","quantity":1}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
